/* Add CSS styles for your Projects page here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.projects {
    margin: 20px;
}

.project {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.project h2 {
    margin-top: 0;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}